@media (max-width: 1999px) {
  .projects__items{
    justify-content: center;
  }
}
@media (max-width: 1600px) {
  .portfolio__content {
    justify-content: space-evenly;
  }
}
@media (max-width: 991px) {
  .footer__content-item {
    padding: 0px 30px;
    margin-bottom: 30px;
  }
  .footer__content {
    padding-bottom: 30px;
    padding-top: 80px;
  }
  .footer__item {
    padding-left: 0;
  }
}
@media (max-width: 900px) {
  .icon-bars {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
  }
  .menu ul {
    display: none;
    text-align: center;
    li {
      display: block;
      & + li {
        margin-left: 0;
      }
    }
    a {
      display: block;
      line-height: 35px;
    }
  }
  .portfolio .mix {
    width: 100%;
    .item {
      max-width: 100%;
    }
  }
  .benefit__item{
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    flex: unset;
  }
}
@media (max-width: 800px) {
  .header__content {
    display: block;
    height: auto;
    padding-bottom: 20px;
  }
  .header__logo {
    text-align: center;
    padding: 20px 0;
  }
  .header__content-right {
    justify-content: space-between;
  }
  .header__content-items {
    margin-left: auto;
  }
  .slider .item{
    margin: 0 auto 30px;
  }
}
@media (max-width: 768px) {
  .author__card{
    display: block;
    text-align: center;
  }
  .author__text{
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .author__inner{
    padding: 70px 40px 70px;
  }
  .author__card{
    padding: 50px 10px 50px 10px;
  }
}
@media (max-width: 650px) {
  .portfolio__btn button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .upload__form-item{
    display: block;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .upload__form-box button[type="submit"]{
    margin: 15px 0 50px 15px;
  }
}
@media (max-width: 600px) {
  .header__content-right {
    display: block;
  }
  .header__content-items {
    margin-right: auto;
  }
  .header__content-item {
    margin: 20px auto;
  }
  .header__content-text {
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .footer__content-item {
    display: none;
  }
  .footer__title {
    cursor: pointer;
    &:before {
      content: "\f107";
      font-family: "icomoon";
      position: absolute;
      right: 0;
      color: $green;
    }
    &.active:before {
      transform: rotate(180deg);
    }
  }
  .slider__title,
  .benefit__title,
  .portfolio__title,
  .projects__title{
    font-size: 30px;
    margin-bottom: 35px;
  }
  .slider .slick-dots{
    margin-top: 0;
  }
  .author__inner{
    padding: 60px 20px 60px;
  }
}

@media (max-width: 450px) {
  .container-fluid {
    padding: 0px 15px;
  }
  .item-info, .item__user-box{
    padding: 0px 15px;
  }
  .footer__content-item {
    padding: 0;
    margin-bottom: 20px;
  }
  .portfolio,
  .slider,
  .benefit,
  .projects,
  .author{
    padding: 70px 0;
  }
  .portolio__link{
    padding-top: 0;
  }
  .slider-item{
    padding: 0;
  }
  .author__text {
    font-size: 25px;
  }
  .author__card a{
    padding: 10px 30px;
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .search__title {
    font-size: 44px;
  }
  .search.search__home {
    padding: 75px 0;
  }
}
@media (min-width: 576px) {
  .footer__content-item {
    display: block !important;
  }
}
@media (min-width: 901px) {
  .menu {
    ul {
      display: block !important;
    }
  }
}
